<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title,google_site_verification,baidu_site_verification)">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <meta charset="utf-8">

    <!-- Description, Keywords and Author -->
    <meta content="" name="description">
    <meta content="" name="author">
    <title><th:block th:text="${title!=null?title:'blog'}"></th:block></title>
    <link rel="shortcut icon" th:href="@{https://cdn.jsdelivr.net/gh/WinterChenS/imgrpo/blog/20210816111845.ico}" type="image/x-icon">

    <meta name="google-site-verification" th:content="${google_site_verification}"/>
    <meta name="baidu-site-verification" th:content="${baidu_site_verification}"/>
    <!-- style -->

    <link rel="stylesheet" th:href="@{/site/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/site/css/style.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{//cdn.bootcss.com/highlight.js/9.9.0/styles/xcode.min.css}"/>

    <!-- style -->
    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/site/css/bootstrap.min.css}" type="text/css">

    <!-- responsive -->
    <link rel="stylesheet" th:href="@{/site/css/responsive.css}" type="text/css">

    <!-- font-awesome -->
    <link rel="stylesheet" th:href="@{/site/jquery/font-awesome.4.6.0.css}" type="text/css">
    <!-- font-awesome -->
    <link rel="stylesheet" th:href="@{/site/css/effects/set2.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/site/css/effects/normalize.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/site/css/effects/component.css}" type="text/css">
</head>
</html>