<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lq.dao.CommentDao">

    <!-- 所有字段的result map -->
    <resultMap id="defaultResultMap" type="cn.lq.common.domain.po.CommentPO">
        <result property="id" column="id"/>
        <result property="contentId" column="content_id"/>
        <result property="author" column="author"/>
        <result property="authorId" column="author_id"/>
        <result property="ownerId" column="owner_id"/>
        <result property="mail" column="mail"/>
        <result property="ip" column="ip"/>
        <result property="agent" column="agent"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="parent" column="parent"/>
        <result property="content" column="content"/>
        <result property="created" column="created"/>
        <result property="modified" column="modified"/>
        <result property="deleted" column="is_deleted"/>
    </resultMap>

    <!-- 所有字段 -->
    <sql id="allColumns">
        id, content_id, author, author_id, owner_id, mail, ip, agent, type, status, parent, content, created, modified, is_deleted
    </sql>

    <!-- 除ID的字段 -->
    <sql id="columnsNoId">
        content_id, author, author_id, owner_id, mail, ip, agent, type, status, parent, content, created, modified, is_deleted
    </sql>

    <!-- 查询条件 -->
    <sql id="dynamicWhere">
        <where>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="startTime != null">
                AND created <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null">
                AND created <![CDATA[<=]]> #{endTime}
            </if>
            <if test="parent != null">
                AND parent = #{parent}
            </if>
            <if test="contentId != null">
                AND content_id = #{contentId}
            </if>
            <choose>
                <when test="deleted != null">
                    AND is_deleted = #{deleted}
                </when>
                <otherwise>
                    AND is_deleted = 0
                </otherwise>
            </choose>
        </where>
    </sql>

    <!-- 新增评论 -->
    <!--suppress SqlInsertValues -->
    <insert id="insert" parameterType="cn.lq.common.domain.po.CommentPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment (
        <include refid="columnsNoId"/>
        ) VALUES (#{contentId}, #{author}, #{authorId}, #{ownerId}, #{mail}, #{ip}, #{agent}, #{type}, #{status}, #{parent}, #{content}, now(), now(), 0)
    </insert>

    <!-- 删除评论 -->
    <update id="delete" parameterType="long">
        UPDATE comment
        SET is_deleted = 1,
            modified   = now()
        WHERE ID = #{id}
    </update>

    <!-- 更新评论 -->
    <update id="update" parameterType="cn.lq.common.domain.po.CommentPO">
        UPDATE comment
        <set>
            <if test="contentId != null">
                content_id = #{contentId},
            </if>
            <if test="author != null">
                author = #{author},
            </if>
            <if test="authorId != null">
                author_id = #{authorId},
            </if>
            <if test="ownerId != null">
                owner_id = #{ownerId},
            </if>
            <if test="mail != null">
                mail = #{mail},
            </if>
            <if test="ip != null">
                ip = #{ip},
            </if>
            <if test="agent != null">
                agent = #{agent},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="parent != null">
                parent = #{parent},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            modified = now()
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryForObject" resultMap="defaultResultMap">
        SELECT
        <include refid="allColumns"/>
        FROM comment WHERE id = #{id}
    </select>

    <!-- 根据条件查找评论列表 -->
    <select id="queryForList" resultMap="defaultResultMap" parameterType="cn.lq.common.domain.query.inner.CommentInnerQuery">
        SELECT
        <include refid="allColumns"/>
        FROM comment
        <include refid="dynamicWhere"/>
        ORDER BY created
    </select>

    <select id="queryForCount" resultType="java.lang.Integer" parameterType="cn.lq.common.domain.query.inner.CommentInnerQuery">
        SELECT count(*) FROM comment
        <include refid="dynamicWhere"/>
    </select>


</mapper>