<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lq.dao.ContentDao">

    <!-- 所有字段的result map -->
    <resultMap id="defaultResultMap" type="cn.lq.common.domain.po.ContentPO">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="titlePic" column="title_pic"/>
        <result property="slug" column="slug"/>
        <result property="authorId" column="author_id"/>
        <result property="type" column="type"/>
        <result property="tags" column="tags"/>
        <result property="categories" column="categories"/>
        <result property="hits" column="hits"/>
        <result property="allowComment" column="is_allow_comment"/>
        <result property="allowPing" column="is_allow_ping"/>
        <result property="allowFeed" column="is_allow_feed"/>
        <result property="status" column="status"/>
        <result property="created" column="created"/>
        <result property="modified" column="modified"/>
        <result property="deleted" column="is_deleted"/>
    </resultMap>

    <resultMap id="archiveDtoMap" type="cn.lq.common.domain.dto.ArchiveDto">
        <id column="date" property="date"/>
        <result column="count" property="count"/>
    </resultMap>

    <!-- 所有字段 -->
    <sql id="allColumns">
        id, title, title_pic, slug, author_id, type, tags, categories, hits, is_allow_comment, is_allow_ping, is_allow_feed, `status`, `created`, modified, is_deleted
    </sql>

    <!-- 除id字段 -->
    <sql id="columnsNoId">
        title, title_pic, slug, author_id, type, tags, categories, hits, is_allow_comment, is_allow_ping, is_allow_feed, `status`, `created`, modified, is_deleted
    </sql>

    <!-- 查询条件 -->
    <sql id="dynamicWhere">
        <where>
            <if test="tag != null">
                AND tags LIKE CONCAT('%',#{tag},'%')
            </if>
            <if test="category != null">
                AND categories LIKE CONCAT('%',#{category},'%')
            </if>
            <if test="status != null">
                AND `status` = #{status}
            </if>
            <if test="title != null">
                AND title LIKE CONCAT('%',#{title},'%')
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="startTime != null">
                AND created <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null">
                AND created <![CDATA[<=]]> #{endTime}
            </if>
            <choose>
                <when test="deleted != null">
                    AND is_deleted = #{deleted}
                </when>
                <otherwise>
                    AND is_deleted = 0
                </otherwise>
            </choose>
        </where>
    </sql>

    <!-- 添加文章 -->
    <!--suppress SqlInsertValues -->
    <insert id="insert" parameterType="cn.lq.common.domain.po.ContentPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO content (
        <include refid="columnsNoId"/>
        ) VALUES (#{title}, #{titlePic}, #{slug}, #{authorId}, #{type}, #{tags}, #{categories}, #{hits}, #{allowComment}, #{allowPing}, #{allowFeed}, #{status}, now(), now(), 0)
    </insert>

    <!-- 删除文章 -->
    <update id="delete" parameterType="long">
        UPDATE content
        SET is_deleted = 1,
            modified   = now()
        WHERE ID = #{id}
    </update>

    <!-- 更新文章信息 -->
    <update id="update" parameterType="cn.lq.common.domain.po.ContentPO">
        UPDATE content
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="titlePic != null">
                title_pic = #{titlePic},
            </if>
            <if test="slug != null">
                slug = #{slug},
            </if>
            <if test="authorId != null">
                author_id = #{authorId},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="tags != null">
                tags = #{tags},
            </if>
            <if test="categories != null">
                categories = #{categories},
            </if>
            <if test="hits != null">
                hits = #{hits},
            </if>
            <if test="allowComment != null">
                is_allow_comment = #{allowComment},
            </if>
            <if test="allowPing != null">
                is_allow_ping = #{allowPing},
            </if>
            <if test="allowFeed != null">
                is_allow_feed = #{allowFeed},
            </if>
            modified = now()
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据主键编号获取文章信息 -->
    <select id="queryForObject" resultMap="defaultResultMap">
        SELECT
        <include refid="allColumns"/>
        FROM content WHERE id = #{id}
    </select>

    <!-- 根据条件查询文章 -->
    <select id="queryForList" resultMap="defaultResultMap" parameterType="cn.lq.common.domain.query.inner.ContentInnerQuery">
        SELECT
        <include refid="allColumns"/>
        FROM content
        <include refid="dynamicWhere"/>
        ORDER BY created DESC
    </select>

    <select id="queryForCount" resultType="java.lang.Integer" parameterType="cn.lq.common.domain.query.inner.ContentInnerQuery">
        SELECT count(*) FROM content
        <include refid="dynamicWhere"/>
    </select>

    <select id="getArchive" resultMap="archiveDtoMap" parameterType="cn.lq.common.domain.query.inner.ContentInnerQuery">
        select FROM_UNIXTIME(created, '%Y年%m月') as date, count(*) as count from content
        <where>
            type = 'post' and `status` = 'publish'
            <if test="startTime != null">
                AND created <![CDATA[<=]]> #{startTime}
            </if>
            <if test="endTime != null">
                AND created <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        group by date order by date desc
    </select>

</mapper>