<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lq.dao.mysql.LogDao">

    <!-- 所有字段的result map -->
    <resultMap id="defaultResultMap" type="cn.lq.common.domain.po.LogPO">
        <id property="id" column="id"/>
        <result property="action" column="action"/>
        <result property="data" column="data"/>
        <result property="userId" column="user_id"/>
        <result property="ip" column="ip"/>
        <result property="created" column="created"/>
        <result property="modified" column="modified"/>
        <result property="deleted" column="is_deleted"/>
    </resultMap>

    <!-- 所有字段 -->
    <sql id="allColumns">
        id, action, data, user_id, ip, created, modified, is_deleted
    </sql>

    <!-- 除ID的字段 -->
    <sql id="columnsNoId">
        action, data, user_id, ip, created, modified, is_deleted
    </sql>

    <!-- 查询条件 -->
    <sql id="dynamicWhere">
        <where>
            <if test="action != null">
                AND action = #{action}
            </if>
            <choose>
                <when test="deleted != null">
                    AND is_deleted = #{deleted}
                </when>
                <otherwise>
                    AND is_deleted = 0
                </otherwise>
            </choose>
        </where>
    </sql>

    <!-- 新增日志记录 -->
    <!--suppress SqlInsertValues -->
    <insert id="insert" parameterType="cn.lq.common.domain.po.LogPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO log (
        <include refid="columnsNoId"/>
        ) VALUES (#{action}, #{data}, #{userId}, #{ip}, now(), now(), 0)
    </insert>

    <!-- 删除日志 -->
    <update id="delete" parameterType="long">
        UPDATE log
        SET is_deleted = 1,
            modified   = now()
        WHERE ID = #{id}
    </update>

    <!-- 查找日志 -->
    <select id="queryForList" resultMap="defaultResultMap" parameterType="cn.lq.common.domain.query.inner.LogInnerQuery">
        SELECT
        <include refid="allColumns"/>
        FROM log
        <include refid="dynamicWhere"/>
        ORDER BY created DESC
    </select>

</mapper>