<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lq.dao.MetaDao">

    <!-- 所有字段的result map -->
    <resultMap id="defaultResultMap" type="cn.lq.common.domain.po.MetaPO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="slug" column="slug"/>
        <result property="type" column="type"/>
        <result property="description" column="description"/>
        <result property="sort" column="sort"/>
        <result property="created" column="created"/>
        <result property="modified" column="modified"/>
        <result property="deleted" column="is_deleted"/>
    </resultMap>

    <resultMap id="metaExtendPO" type="cn.lq.common.domain.po.MetaExtendPO" extends="defaultResultMap">
        <result column="count" property="count"/>
    </resultMap>

    <!-- 所有字段 -->
    <sql id="allColumns">
        id, name, slug, type, description, sort, created, modified, is_deleted
    </sql>

    <!-- 除ID的字段 -->
    <sql id="columnsNoId">
        name, slug, type, description, sort, created, modified, is_deleted
    </sql>

    <!-- 查询条件 -->
    <sql id="dynamicWhere">
        <where>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <choose>
                <when test="deleted != null">
                    AND is_deleted = #{deleted}
                </when>
                <otherwise>
                    AND is_deleted = 0
                </otherwise>
            </choose>
        </where>
    </sql>


    <!-- 添加元数据信息 -->
    <!--suppress SqlInsertValues -->
    <insert id="insert" parameterType="cn.lq.common.domain.po.MetaPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO meta (
        <include refid="columnsNoId"/>
        ) VALUES (#{name}, #{slug}, #{type}, #{description}, #{sort}, now(), now(), 0)
    </insert>

    <!-- 删除元数据 -->
    <update id="delete" parameterType="long">
        UPDATE meta
        SET is_deleted = 1,
            modified   = now()
        WHERE ID = #{id}
    </update>

    <!-- 更新元数据 -->
    <update id="update" parameterType="cn.lq.common.domain.po.MetaPO">
        UPDATE meta
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="slug != null">
                slug = #{slug},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="description != null">
                `description` = #{description},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            modified = now()
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据主键编号获取元数据 -->
    <select id="queryForObject" resultMap="defaultResultMap">
        SELECT
        <include refid="allColumns"/>
        FROM meta WHERE id = #{id}
    </select>

    <!-- 根据条件获取元数据 -->
    <select id="queryForList" resultMap="defaultResultMap" parameterType="cn.lq.common.domain.query.inner.MetaInnerQuery">
        SELECT
        <include refid="allColumns"/>
        FROM meta
        <include refid="dynamicWhere"/>
        ORDER BY sort
    </select>

    <select id="queryForCount" resultType="java.lang.Integer" parameterType="cn.lq.common.domain.query.inner.CommentInnerQuery">
        SELECT count(*) FROM meta
        <include refid="dynamicWhere"/>
    </select>

    <select id="selectFromSql" resultMap="metaExtendPO" parameterType="Map">
        select t1.*,
               count(t2.content_id) as count
        from meta
                 AS t1
                 left join
             content_meta_bind
                 AS t2 on t1.id = t2.meta_id
        where t1.type = #{type}
        group by t1.id
        order by #{order}
        limit #{limit}
    </select>

</mapper>