<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lq.dao.UserDao">

    <!-- 所有字段的result map -->
    <resultMap id="defaultResultMap" type="cn.lq.common.domain.po.UserPO">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="screenName" column="screen_name"/>
        <result property="activated" column="activated"/>
        <result property="logged" column="logged"/>
        <result property="groupName" column="group_name"/>
        <result property="created" column="created"/>
        <result property="modified" column="modified"/>
        <result property="deleted" column="is_deleted"/>
    </resultMap>

    <!-- 所有字段 -->
    <sql id="allColumns">
        id, username, password, email, screen_name, group_name, created, modified, is_deleted
    </sql>

    <!-- 除ID的字段 -->
    <sql id="columnsNoId">
        username, password, email, screen_name, group_name, created, modified, is_deleted
    </sql>

    <!-- 查询条件 -->
    <sql id="dynamicWhere">
        <where>
            <if test="username != null">
                AND username = #{username}
            </if>
            <if test="password != null">
                AND password = #{password}
            </if>
            <if test="email != null">
                AND email = #{email}
            </if>
            <choose>
                <when test="deleted != null">
                    AND is_deleted = #{deleted}
                </when>
                <otherwise>
                    AND is_deleted = 0
                </otherwise>
            </choose>
        </where>
    </sql>

    <update id="update" parameterType="cn.lq.common.domain.po.UserPO">
        UPDATE user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                `password` = #{password},
            </if>
            <if test="screenName != null">
                screen_name = #{screenName},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="groupName != null">
                group_name = #{groupName},
            </if>
            modified = now()
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryForObject" resultMap="defaultResultMap">
        SELECT
        <include refid="allColumns"/>
        FROM user WHERE id = #{id}
    </select>

    <select id="queryForList" resultMap="defaultResultMap" parameterType="cn.lq.common.domain.query.inner.UserInnerQuery">
        SELECT
        <include refid="allColumns"/>
        FROM user
        <include refid="dynamicWhere"/>
    </select>


</mapper>